* {
  outline:none;
	border:none;
	margin:0px;
	padding:0px;
}

/** Font **/
@font-face {
  font-family: 'TravelingTypeWriterFont';
  src: local('TravelingTypeWriterFont'),
       url(./fonts/travelingtypewriter-webfont.woff2) format('woff2'),
       url(./fonts/travelingtypewriter-webfont.woff) format('woff'),
       url(./fonts/TravelingTypewriter.ttf) format('truetype');
}

body {
  background:#fff //url(https://static.tumblr.com/maopbtg/a5emgtoju/inflicted.png) repeat;
  margin-left:1%;
  margin-right:1%;

  padding: 0;
  font-family: 'TravelingTypeWriterFont';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'TravelingTypeWriterFont';
}
