/** Font **/
@font-face {
  font-family: 'TravelingTypeWriterFont';
  src: local('TravelingTypeWriterFont'),
       url(./fonts/travelingtypewriter-webfont.woff2) format('woff2'),
       url(./fonts/travelingtypewriter-webfont.woff) format('woff'),
       url(./fonts/TravelingTypewriter.ttf) format('truetype');
}


body {
  margin: 0;
  padding: 0;
  font-family: 'TravelingTypeWriterFont';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'TravelingTypeWriterFont';
}

html {
  overflow-y: scroll;
}
