

#navitem {
  color: #777;
  text-shadow: 0 1px 0 rgba(255,255,255,.25);
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
  position: relative;
  display: block;
  padding: 10px 15px;
}
